<div class="form-group container1">
    <label for="password">Password</label>
    <input type="password"  id="password" name="password" class="form-control" placeholder="Enter Password" data-toggle="password"
      value="<%= typeof password != 'undefined' ? password : '' %>" />
     
      <i class="far fa-eye" id="togglePassword" ></i>
      

  </div>
  <div class="form-group">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" style="position: relative;" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm Password"
      value="<%= typeof confirm_password != 'undefined' ? confirm_password : '' %>" />
      <i class="far fa-eye" id="togglePassword" ></i>
  </div>