<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">
                <img src="/assets/reset.svg" alt="icon" width="20%" />
            </h1>
            <h2>
                Reset Password
            </h2>
            <%- include ("./partials/flash-messages") %>
            <form action="/auth/reset/<%= id %>"  method="POST">
                <%- include ("./partials/password-form") %>
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
            <p class="mt-4">
                Remember your password? <a href="/auth/login">Login</a>
            </p>
        </div>
    </div>
</div>